name: CI

on:
  pull_request:
    branches:
      - main
      - master
  push:
    branches-ignore:
      - main
      - master

jobs:
  build:
    name: Build (validation)
    uses: ./.github/workflows/_build.yml
    with:
      upload-artifact: false
