name: CI

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    name: Build (validation)
    uses: ./.github/workflows/_build.yml
    with:
      upload-artifact: false
    secrets:
      VITE_SUPABASE_URL: ${{ secrets.VITE_SUPABASE_URL }}
      VITE_SUPABASE_PUBLISHABLE_KEY: ${{ secrets.VITE_SUPABASE_PUBLISHABLE_KEY }}
      VITE_SUPABASE_PROJECT_ID: ${{ secrets.VITE_SUPABASE_PROJECT_ID }}
